# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.suo
*.sdf

*.pdb
*.ipdb
*.iobj
*.ilk
*.db
*.VC
README.txt

*/[dD]ebug/
*/[rR]elease/
*/*/[dD]ebug/
*/*/[rR]elease/
*/*/*/[dD]ebug/
*/*/*/[rR]elease/
*/ipch/
*/*/ipch/

*.db-wal
*.db-shm
*.ipch
